In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
df = pd.read_csv(os.path.join('..','divorce_data.csv'),sep=";")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Divorce
0,2,2,4,1,0,0,0,0,0,0,...,2,1,3,3,3,2,3,2,1,1
1,4,4,4,4,4,0,0,4,4,4,...,2,2,3,4,4,4,4,2,2,1
2,2,2,2,2,1,3,2,1,1,2,...,3,2,3,1,1,1,2,2,2,1
3,3,2,3,2,3,3,3,3,3,3,...,2,2,3,3,3,3,2,2,2,1
4,2,2,1,1,1,1,0,0,0,0,...,2,1,2,3,2,2,2,1,0,1

In [3]:
target = df["Divorce"]
data = df.drop("Divorce", axis=1)

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [5]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.8837209302325582

In [6]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9767441860465116

In [17]:
feature_names = df.columns

In [18]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.09764194970778449, 'Q12'),
 (0.08038285071997375, 'Q40'),
 (0.07481105175433746, 'Q19'),
 (0.07284431624592867, 'Q16'),
 (0.0717316317673885, 'Q36'),
 (0.06984585599791775, 'Q38'),
 (0.05680007705771674, 'Q20'),
 (0.05473772190798585, 'Q17'),
 (0.048010977917185595, 'Q11'),
 (0.047092621199586314, 'Q15'),
 (0.04607839570078859, 'Q18'),
 (0.037658580044149216, 'Q9'),
 (0.036264490851397206, 'Q25'),
 (0.031518553975926185, 'Q26'),
 (0.02924071134495191, 'Q28'),
 (0.02510673299633144, 'Q14'),
 (0.02186452948869905, 'Q39'),
 (0.018919105356800022, 'Q29'),
 (0.010269646825159491, 'Q30'),
 (0.009838390270825514, 'Q27'),
 (0.00967123982000652, 'Q4'),
 (0.00883309778526535, 'Q1'),
 (0.006245775890228876, 'Q44'),
 (0.005696986896152544, 'Q41'),
 (0.004474100489674259, 'Q22'),
 (0.004184651304947228, 'Q21'),
 (0.0032502234445828814, 'Q3'),
 (0.0016202196886714688, 'Q33'),
 (0.0015857638692733922, 'Q2'),
 (0.0012723137870148341, 'Q34'),
 (0.0011615758260241462, 'Q32'),
 (0.000991623778484258, 'Q49'),
 (0.0009273398087474404, 'Q37'),
 (0.0008817015042794485, 'Q10'),
 (0.0008505279036355367, 'Q35'),
 (0.0008186938832772167, 'Q43'),
 (0.0008103543800211487, 'Q50'),
 (0.0007506247433701667, 'Q52'),
 (0.0007228191418552184, 'Q13'),
 (0.0006756103498270344, 'Q53'),
 (0.000670834554179096, 'Q48'),
 (0.0005873661668905437, 'Q8'),
 (0.0004891679764221268, 'Q31'),
 (0.00048037934551989586, 'Q45'),
 (0.0003944821810328861, 'Q5'),
 (0.00038419227283963576, 'Q46'),
 (0.00034190945440850447, 'Q6'),
 (0.00023637420716336567, 'Q42'),
 (0.0001824029277037428, 'Q47'),
 (0.00014945548766751309, 'Q54'),
 (0.0, 'Q7'),
 (0.0, 'Q51'),
 (0.0, 'Q24'),
 (0.0, 'Q23')]